<!doctype html>
<html lang="en_NZ">
<head>
    <meta charset="utf-8"/>
    <title>IRMA attribute verification example</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="https://members.internetnz.nz/sites/default/files/css/css_lQaZfjVpwP_oGNqdtWCSpJT1EMqXdMiU84ekLLxQnc4.css" media="all">
    <link type="text/css" rel="stylesheet" href="https://members.internetnz.nz/sites/default/files/css/css_BYS6l8MYdx4ZFt71Bo-5FHQgBgF8GbKo_9xQnGiiRqI.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="https://members.internetnz.nz/sites/default/files/css/css_S1SKPYV-rmiTH7oD4myqMAsMOJcP3aNMY_ryOkm4ARo.css" media="all"/>
    <!--    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.0.2/css/bootstrap.min.css" media="all"/>-->
    <link type="text/css" rel="stylesheet" href="https://members.internetnz.nz/sites/default/files/css/css_8ufypnDNQk75Rq7rELaiJAxQi7nq3BphaLnrKktW52w.css" media="all">

    <link type="text/css" rel="stylesheet" href="style-membership.css">

    <script src="https://kit.fontawesome.com/0acfb72420.js" crossorigin="anonymous"></script>


    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="irma.js" defer></script>
    <script type="text/javascript">
      const AWS_IRMA_SERVER = 'http://13.54.7.159:8088';
      const IRMA_SERVER = AWS_IRMA_SERVER;
      const AUTH_METHOD_TOKEN = 'token';
      //const AUTH_METHOD = 'publickey'
      //const REQUESTER_NAME = 'issuer'
      const PRIVATE_TOKEN = 'secret-fake-token';

      const ATTRIBUTE = {
        FAKE_REALME_EMAIL: 'inz-demo.fake-realme.email.email',
        FAKE_INTERNALAFFAIRS_NAME: 'inz-demo.fake-internalaffairs.name.fullName',
      };

      const CREDENTIAL = {
        INTERNETNZ_MEMBERSHIP: 'inz-demo.internetnz.membership'
      };

      let userMembershipAttributes = {};

      function discloseOrSign(attribute, label = '', message = '') {
        const labelRequest = !label ? {} : {'labels': {'0': {'en': label, 'nl': label}}};
        const request = !message ? {
          '@context': 'https://irma.app/ld/request/disclosure/v2',
          'disclose': [
            [
              [attribute]
            ]
          ],
          ...labelRequest
        } : {
          '@context': 'https://irma.app/ld/request/signature/v2',
          'message': message,
          'disclose': [
            [
              [attribute]
            ]
          ],
          ...labelRequest
        };
        return doSession(request).then(function (result) {
          showSuccess('Success, attribute value: <strong>' + result.disclosed[0][0].rawvalue + '</strong>');
          return getDiscloseResultRawValue(result);
        });
      }

      function doIssuanceSession() {
        const attrs = document.getElementById('newattrs').value;
        const fullCredential = document.getElementById('newcredential').value;
        const attribute = fullCredential.split('.').pop();
        const credential = fullCredential.replace(`.${attribute}`, '');
        let attributes = {[attribute]: attrs};
        if (fullCredential === 'inz-demo.internetnz.membership.id') {
          attributes = {
            id: document.getElementById('newattrs').value,
            type: 'Personal',
            purchaseDate: '01/01/2020',
            renewalDate: '01/01/2020',
            validUntil: '01/02/2021',
          };
        }
        doSession({
          '@context': 'https://irma.app/ld/request/issuance/v2',
          'credentials': [{
            'credential': credential,
            'attributes': attributes
          }]
        }).then(function (result) {
          showSuccess('Success');
        });
      }

      function issueCredential(credential, attributes) {
        console.log('issueCredential');
        const request = {
          '@context': 'https://irma.app/ld/request/issuance/v2',
          'credentials': [{
            'credential': credential,
            'attributes': attributes
          }]
        };
        return doSession(request).then(function (result) {
          showSuccess('Success');
        });
      }

      function doSession(request) {
        clearOutput();
        showSuccess('Demo running...');

        const server = IRMA_SERVER;
        const authmethod = AUTH_METHOD_TOKEN;
        const key = PRIVATE_TOKEN;
        const requestorname = '';

        return irma.startSession(server, request, authmethod, key, requestorname)
          .then(function (pkg) {
            return irma.handleSession(pkg.sessionPtr, {server: server, token: pkg.token, method: 'popup', language: 'en'});
          })
          .then(function (result) {
            console.log('Done', result);
            return result;
          })
          .catch(function (err) {
            showError(err);
          });
      }

      // UI handling functions
      function clearOutput() {
        const e = document.getElementById('result');
        e.setAttribute('hidden', 'true');
        e.classList.remove('succes', 'warning', 'error');
      }

      function showError(err) {
        const e = document.getElementById('result');
        e.removeAttribute('hidden');
        e.classList.remove('success');
        if (err === irma.SessionStatus.Cancelled) {
          e.classList.add('warning');
          e.innerText = 'Session was aborted';
        } else {
          e.classList.add('error');
          e.innerText = 'Error occurred: ' + String(err);
        }
        throw err;
      }

      function showSuccess(text) {
        const e = document.getElementById('result');
        e.innerHTML = text;
        e.removeAttribute('hidden');
        e.classList.add('alert-success');
      }

      function hideElements() {
        for (let i = 0; i < arguments.length; i++) document.getElementById(arguments[i]).setAttribute('hidden', 'true');
      }

      function showElements() {
        for (let i = 0; i < arguments.length; i++) document.getElementById(arguments[i]).removeAttribute('hidden');
      }

      const getDiscloseResultRawValue = function (result) {
        console.log(result);
        return result.disclosed[0][0].rawvalue || '';
      };

      window.onload = function () {
        let app = new Vue({
          el: '#app',
          data: {
            message: 'Hello Vue!',
            userMembershipAttributes: {
              email: null,
              name: null,
              type: null,
              membershipDuration: null
            }
          },
          methods: {
            verifyFakeRealMeEmail: function () {
              console.log('verifyFakeRealMeEmail');
              return discloseOrSign(ATTRIBUTE.FAKE_REALME_EMAIL)
                .then((result) => {
                  app.userMembershipAttributes.email = result;
                });
            },

            verifyFakeInternalAffairsName: function () {
              console.log('verifyFakeInternalAffairsName');
              return discloseOrSign(ATTRIBUTE.FAKE_INTERNALAFFAIRS_NAME)
                .then((result) => {
                  const names = result.split(' ');
                  app.userMembershipAttributes.name = result;
                  app.userMembershipAttributes.firstName = names.shift();
                  app.userMembershipAttributes.lastName = names.join(' ');
                });
            },

            saveMembership: function () {
              console.log('verifyFakeInternalAffairsName');
              return issueCredential(CREDENTIAL.INTERNETNZ_MEMBERSHIP, app.createMembership(app.userMembershipAttributes));
            },

            createMembership: function (userMembershipAttributes) {
              return {
                id: userMembershipAttributes.email,
                type: userMembershipAttributes.type,
                // TODO: Format dates
                purchaseDate: new Date(),
                renewalDate: new Date(),
                // TODO: Calculate valid until
                validUntil: new Date()
              };
            }
          }
        })
      };
    </script>
</head>
<body>
<div id="app" class="container">

    <!-- header -->
    <div class="headerWrap">
        <div class="mobileIcons">
            <ul id="socialMediaButtons">
                <li><a href="https://internetnz.nz/contact-us" class="dotnews">DotNews</a></li>

            </ul>
        </div>
        <div class="navbar-header">
            <a class="logo navbar-btn pull-left" href="/" title="Home">
                <img src="https://members.internetnz.nz/sites/default/files/INZ%20logo_large_Full%20colour_CROPPED.png" alt="Home" sheight="66">
            </a>

            <a class="name navbar-brand" href="/" title="Home">InternetNZ</a>

            <button type="button" class="search-toggle" data-toggle="collapse" data-target=".search-wrapper">
                <span class="sr-only">Toggle search</span>
                <i class="fa fa-search"></i>
            </button>
        </div>

        <div class="search-wrapper collapse in">
            <div class="region region-search-form">
                <section id="" class=" clearfix">


                </section>
            </div>
        </div>
    </div>
    <!-- header -->

    <h1>INZ Membership demo (based on IRMA)</h1>

    <section class="col-sm-12">
        <h1 class="page-header">Join InternetNZ</h1>
    </section>

    <p>By becoming an InternetNZ member you help us to close digital divides, support Kiwis to be secure online and keep the Internet open for us all.</p>

    <p>For $21 per year you can be a member of InternetNZ and you can:</p>

    <ul>
        <li><strong>get invites</strong> to great Internet events</li>
        <li><strong>stay in the loop</strong> and receive the latest Internet news, discounts and priority event registration</li>
        <li><strong>contribute</strong> to our work and <strong>influence</strong> the direction of InternetNZ.</li>
    </ul>

    <div class="row">
        <div id="result" class="status alert" hidden></div>
    </div>

    <h5>Fake Realme E-mail</h5>
    <p>
        <button id="verify-fakerealme-email" class="btn btn-info" v-on:click="verifyFakeRealMeEmail()">Verify Fake RealMe E-mail</button>
    </p>

    <h5 v-if="userMembershipAttributes.email">Fake Internal Afffairs Name</h5>
    <p v-if="userMembershipAttributes.email">
        <button id="verify-fakeinternalaffairs-name" class="btn btn-info" v-on:click="verifyFakeInternalAffairsName()">Verify Fake Internal Affairs Full Name</button>
    </p>

    <div ssv-if="userMembershipAttributes.email && userMembershipAttributes.name">
        <form action="">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstName">First Name*</label>
                    <input type="text" class="form-control" id="firstName" v-bind:value="userMembershipAttributes.firstName">
                </div>
                <div class="form-group col-md-6">
                    <label for="lastName">Last Name*</label>
                    <input type="text" class="form-control" id="lastName" v-bind:value="userMembershipAttributes.lastName">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="staticEmail">Email</label>
                    <input type="text" readonly class="form-control" id="staticEmail" v-model="userMembershipAttributes.email">
                </div>
            </div>

            <div class="center-block">
                <br>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input
                                class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="Individual"
                                autocomplete="off"
                                v-model="userMembershipAttributes.type"
                        >
                        Individual
                    </label>
                    <label class="btn btn-secondary">
                        <input class="form-check-input" type="radio"
                               name="gridRadios" id="gridRadios2" value="Organization"
                               v-model="userMembershipAttributes.type"
                        > Organization
                    </label>
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>

        <form>

            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" id="name" v-model="userMembershipAttributes.name">
                </div>
            </div>
            <fieldset class="form-group">

                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Type</legend>
                    <div class="col-sm-10 btn-group btn-group-toggle" data-toggle="buttons">
<!--                        <div class="form-check">-->
<!--                            <label class="btn btn-secondary active" for="gridRadios1">-->
<!--                            <input-->
<!--                                    class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="Individual"-->
<!--                                    autocomplete="off"-->
<!--                                    v-model="userMembershipAttributes.type"-->
<!--                            >-->
<!--                                Individual-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="form-check">-->
<!--                            <input class="form-check-input" type="radio"-->
<!--                                   name="gridRadios" id="gridRadios2" value="Organization"-->
<!--                                   v-model="userMembershipAttributes.type"-->
<!--                            >-->
<!--                            <label class="form-check-label" for="gridRadios2">-->
<!--                                Organization-->
<!--                            </label>-->
<!--                        </div>-->

                        <br>
                        <span class="font-weight-bold" v-if="userMembershipAttributes.type === 'Organization'">Small organisation - Less than 100 staff / Large organiation - 100 or more staff</span>

                        <select class="custom-select"
                                required
                                v-if="userMembershipAttributes.type"
                                v-model="userMembershipAttributes.membershipDuration"
                        >
                            <option value="">Open this select menu</option>
                            <optgroup label="Individual" v-if="userMembershipAttributes.type === 'Individual'">
                                <option value="1">1 year</option>
                                <option value="5">5 year</option>
                                <option value="10">10 years</option>
                            </optgroup>
                            <optgroup label="Organization" v-if="userMembershipAttributes.type === 'Organization'">
                                <option value="1">Small Organization - 1 year</option>
                                <option value="5">Small Organization - 5 year</option>
                                <option value="10">Small Organization - 10 years</option>
                                <option value="1">Large Organization - 1 year</option>
                                <option value="5">Large Organization - 5 year</option>
                                <option value="10">Large Organization - 10 years</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </fieldset>

            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">&nbsp;</label>
                <div class="col-sm-10">
                    <input type="button"
                           class="btn btn-success"
                           v-bind:disabled="!userMembershipAttributes.membershipDuration"
                           v-on:click="saveMembership()"
                           value="Save"
                    >
                </div>
            </div>
        </form>
    </div>

    <div>
        {{ userMembershipAttributes }}
    </div>

</div>
</body>
</html>
