.logo {
    max-height: 100px;
}

.status {
    margin: 1em 0;
    padding: 1em;
    width: 100%;
  }
  
  .success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  
  .warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  
  .error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  