<!doctype html>
<html lang="en_NZ">

<head>
  <title>Vote with IRMA</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link type="text/css" rel="stylesheet" href="assets/css/style-election.css">

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="assets/irma.js" defer></script>
  <script src="irma-functions.js" defer></script>
  <script src="ui-functions.js" defer></script>
  <script src="global.js">
    // --------------------------------
    // globals loaded from globals file
    // --------------------------------
  </script>
  <script type="text/javascript">
    // UI handling functions
    function resetForm() {
      clearOutput()
      hideElement('vote-with-irma', false)
      hideElement('vote-options', true)
    }

    function hashCode(s) {
      var h = 0,
        l = s.length,
        i = 0;
      if (l > 0) {
        while (i < l)
          h = (h << 5) - h + s.charCodeAt(i++) | 0;
      }
      return h;
    }


    const getDiscloseResultRawValue = function (result) {
      return {
        id: hashCode(result.disclosed[0][0].rawvalue || ''),
        validUntil: result.disclosed[1][0].rawvalue || '',
      };
    };

    window.onload = function () {
      let app = new Vue({
        el: '#app',
        data: {
          userMembershipAttributes: {
            id: '',
            validUntil: ''
          },
          vote: '',
          membetshipAttributes: [
            [
              [ATTRIBUTE.INTERNETNZ_MEMBERSHIP.ID]
            ],
            [
              [ATTRIBUTE.INTERNETNZ_MEMBERSHIP.VALID_UNTIL]
            ],
          ],
        },
        created: function () {
          if (typeof (Storage) == "undefined") {
            showError("Local storage is not supported by your browser!")
          }

          if (!localStorage.getItem("votes")) {
            localStorage.setItem("votes", JSON.stringify([]));
          }
          if (!localStorage.getItem("voters")) {
            localStorage.setItem("voters", JSON.stringify([]));
          }
        },

        methods: {
          verifyINZMembership: function () {
            console.log('verifyINZMembership');
            return irmaDiscloseOrSign(this.membetshipAttributes)
              .then((result) => {
                showSuccess('Success, Your IRMA ID is : <strong>' + result.disclosed[0][0].rawvalue +
                  '</strong>');

                app.userMembershipAttributes = getDiscloseResultRawValue(result);

                var voters = JSON.parse(localStorage.getItem("voters"));

                hideElement('vote-with-irma', true);

                if (voters.indexOf(app.userMembershipAttributes.id) > -1) {
                  showError('Seems you already voted! You can only vote once for your favorite cake!');
                }

                // Change date format to ISO
                var dateParts = app.userMembershipAttributes.validUntil.split("/");
                if (Date.parse(`${dateParts[2]}-${dateParts[1]}-${dateParts[0]}`) < Date.now()) {
                  showError('Your membership has been expired. You need a valid membership to vote.');
                }

                hideElement('vote-options', false);
              }).catch(function (err) {
                showError(err);
              });
          },

          saveVote: function () {
            if (!app.vote) {
              showWarning("You need to select a cake to vote!")
              return;
            }

            var voters = JSON.parse(localStorage.getItem("voters"));

            voters.push(app.userMembershipAttributes.id)
            localStorage.setItem("voters", JSON.stringify(voters))

            var votes = JSON.parse(localStorage.getItem("votes"));
            votes.push(app.vote)
            localStorage.setItem("votes", JSON.stringify(votes))

            showSuccess("Thanks for your vote. Your vote was: <strong>" + app.vote + "</strong>")

            hideElement('vote-options', true);
          },

          reset: function () {
            app.userMembershipAttributes = {
              id: '',
              validUntil: ''
            };
            app.vote = '';
            resetForm();
          }
        }
      })
    };
  </script>
</head>

<body class="bg-light">
  <div id="app" class="container">
    <div class="py-5 text-center">
      <img class="logo" src="assets/images/cake-elections-logo_200x200.png" alt="Home">
      <h2>Cake Election Website</h2>
      <h2>Vote for your favorite Cake!</h2>
      <p class="lead">Below is a demo of how Digital Identity can be use for voting.
        You can use your InternetNZ membership to signup for voting.</p>
    </div>

    <div>
      <div id="result" class="status alert" hidden></div>
    </div>

    <div id="vote-with-irma" class="text-center">
      <button id="vote-with-irma-btn" type="button" class="btn btn-primary btn-lg"
        v-on:click="verifyINZMembership()">Vote with IRMA
      </button>
    </div>

    <div id="vote-options" class="jumbotron" hidden=true>
      <h3>Select your favorite cake!</h1>
        <div class="d-block my-3 form-group">
          <div class="custom-control custom-radio">
            <input id="cheese_cake" name="vote_option" type="radio" class="custom-control-input" checked=true
              required=true v-model="vote" value="Cheese Cake">
            <label class="custom-control-label" for="cheese_cake">Cheese Cake</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="double_chocolate" name="vote_option" type="radio" class="custom-control-input" required=true
              v-model="vote" value="Double Chocolate">
            <label class="custom-control-label" for="double_chocolate">Double Chocolate</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="banana_cake" name="vote_option" type="radio" class="custom-control-input" required=true
              v-model="vote" value="Banana Cake">
            <label class="custom-control-label" for="banana_cake">Banana Cake</label>
          </div>
        </div>
        <hr class="mb-4">
        <button id="vote-submit" type="button" class="btn btn-primary" v-on:click="saveVote()">Submit
          your vote
        </button>
    </div>

    <div class="text-right">
      <input type="button" class="btn btn-info" v-on:click="reset" value="Reset">
    </div>

    <div class="p-5 text-center">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="/">Issue Name, Address and Email</a></li>
        <li class="list-inline-item"><a href="/membership.html">INZ Membership</a></li>
        <li class="list-inline-item"><a href="/election.html">Cake Election</a></li>
        <li class="list-inline-item"><a href="/event-access-pass.html">Event Access Pass</a></li>
        <li class="list-inline-item"><a href="/assets/apk/app.apk">APK (universal)</a></li>
      </ul>

      <p class="mb-1">© 2020 Cake Elections</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </div>
  </div>
</body>

</html>