<!doctype html>
<html lang="en-NZ">

<head>
  <title>IRMA example - Simple verifier</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    [v-cloak] {
      display: none;
    }
  </style>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <script src="https://kit.fontawesome.com/0acfb72420.js" crossorigin="anonymous"></script>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="assets/irma.js" defer></script>
  <script src="irma-functions.js"></script>
  <script src="ui-functions.js"></script>
  <script src="global.js">
    // --------------------------------
    // globals loaded from globals file
    // --------------------------------
  </script>
  <script type="text/javascript">
    let userMembershipAttributes = {};

    function showSuccess(text) {
      const e = document.getElementById('result');
      e.innerHTML = text;
      e.removeAttribute('hidden');
      e.classList.add('alert-success');
    }

    window.onload = function () {
      let app = new Vue({
        el: '#app',
        data: {
          ATTRIBUTE: ATTRIBUTE,
          CREDENTIAL: CREDENTIAL,
          HEADER_MESSAGES: HEADER_MESSAGES,
          MEMBERSHIP_INDIVIDUAL: 'Individual',
          MEMBERSHIP_ORGANIZATION: 'Organization',
          MEMBERSHIP_UNIT_PRICE: 21,
          membershipIssued: false,
          email: '',
          fullName: '',
          fullAddress: '',
          membershipCredential: {},
          over18: null,
          over65: null,
          birthdate: null,
          agelimit: null,
          // disclosure
          over18DiscloseOptions: [ATTRIBUTE.IRMA_DEMO_NIJMEGEN_AGE_LIMITS_OVER18, ],
        },
        methods: {
          reset: function () {
            app.userMembershipAttributes = {
              email: null,
              name: null,
              type: '',
              membershipDuration: null,
              readPolicy: false,
            };
            app.membershipIssued = false;
            app.membershipCredential = {};
            clearOutput();
          },

          discloseOver18: function () {
            this.over18 = null;

            const discloseAttributes = [
              [
                this.over18DiscloseOptions
              ]
            ];

            irmaDiscloseOrSign(discloseAttributes, HEADER_MESSAGES.DISCLOSE_AGE).then(function (result) {
              console.log(result);

              showSuccess('Success');

              app.over18 = result.disclosed[0][0];
            }).catch(function (err) {
              showError(err);
            });;
          }
        }
      })
    };
  </script>
</head>

<body>
  <div id="app" class="container" v-cloak>

    <header>
      <h2>Simple Issuer</h2>
      <hr>
    </header>

    <p>&nbsp;</p>

    <div class="row">
      <div id="result" class="status alert col-12" hidden></div>
    </div>

    <form>
      <div class="border-left border-warning rounded p-1 m-3">
        <div class="form-group row">
          <label class="col-2 col-form-label text-right">Over18</label>
          <div class="col-8">
            <div v-if="over18">
              Value: <strong>{{ over18 }}</strong>
            </div>
          </div>
          <div class="col-2">
            <input type="button" class="btn btn-info" value="Verify" v-on:click="discloseOver18()">
          </div>
          <div class="text-right">
            <ul>
              <li v-for="attribute in over18DiscloseOptions"><code>{{ attribute }}</code></li>
            </ul>
          </div>
        </div>
      </div>
    </form>

    <div class="p-5 text-center clear">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="/membership.html">INZ Membership</a></li>
        <li class="list-inline-item"><a href="/election.html">Cake Election</a></li>
        <li class="list-inline-item"><a href="/event-access-pass.html">Event Access Pass</a></li>
        <li class="list-inline-item"><a href="/">Simple issuer</a></li>
        <li class="list-inline-item"><a href="/assets/apk/app.apk">APK (universal)</a></li>
      </ul>
    </div>

  </div>
</body>

</html>